/* Styling Headings */
/* appling flex so that the headers stay at the top of the page */
h1  {
    font-size: 50px;
    position: sticky;
    top: 0;
    border: 6px solid;
    background-color: #3078c5;
}
/* appling flex so that the headers stay at the top of the page */
h2  {
    font-size: 30px;
    color: rgb(23, 105, 105);
    text-decoration: underline;
    position: sticky;
    top: 0;
    border: 6px solid;
    background-color: #30c582;
}

h3  {
font-size: 24px;
}

h4  {
    font-size: 20px;

}


/* Adding Colors, styling links*/
body    {
    background-color: #EBEBD3;
    background-image: radial-gradient(#EBEBD3, #3078c5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

a   {
    color: #F4D35E;
}

a:visited {
    color: #032040;
}

a:hover {
    pointer-events: painted;
    color: #DA4167;
}

/* Styling Tables, with classes will override the the beginning styles*/
table   {
    border-collapse: collapse;
    width: 100%; border-style: solid;
    border-color: #F78764;
}

th, td  {
background-color: #F4D35E;
padding: 10px;
border: solid; border-color: #F78764;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.th {
font-size: 24px;
}

.td {
    font-size: 20px;
    font-weight: bold;
}

.container {
    float: left;
    padding: 20px;
    display: flex;
    align-items: center;
}

/* Flexbox edits */
.nav-menu, h2, h1 {
    display: flex;
    justify-content: center;
}


/* 
@media screen and (min-width: 450px) {
    main {
        background-color: #c3e33670;
      justify-content: center;
      flex-flow: row wrap;
      padding: 1rem;
      font-family: Arial, Helvetica, sans-serif;
    } */


/* changing screen sizes color fitting */
@media screen and (min-width: 481px) {
    main {
        background-color: #e02c8f3b;
      justify-content: center;
      flex-flow: row wrap;
      padding: 1rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


}
@media screen and (min-width: 992px) {
    main {
        background-color: #41da7739;;
      justify-content: center;
      flex-flow: row wrap;
      padding: 1rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }


}
@media screen and (min-width: 1100px) {
    main {
        background-color: #e0ba2139;
      justify-content: center;
      flex-flow: row wrap;
      padding: 1rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


}
@media screen and (min-width: 1201px) {
    main {
        background-color: #f2000036;
      justify-content: center;
      flex-flow: row wrap;
      padding: 1rem;
      font-family: 'Times New Roman', Times, serif;
    }
}




