html{
    font-size: 30ppx
}

body {
    background-color: #4181ef;
    color: whitesmoke;
}

a {
    color: rgb(22, 247, 108);
}

a:visited {
    color: blueviolet;
}

a:hover,
a:active {
    color: antiquewhite;
}
