html{
    font-size: 24px
}

body {
    background-color: #4181ef;
    color: whitesmoke;
}

a {
    color: rgb(22, 247, 108);
}

a:visited {
    color: blueviolet;
}

a:hover,
a:active {
    color: antiquewhite;
}

table   {
    border-collapse: collapse;
    width: 100%; border-style: solid; 
    border-color: rgb(219, 131, 64)
}

th, td {
    background-color: rgb(226, 43, 128);
    padding: 8px;
    border: solid; border-color: rgb(255, 213, 0);
    font-family: Arial, Helvetica, sans-serif;
}
